/*==================== header */
.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 28px;
  cursor: pointer;
}

/* Busqueda */
input[type="checkbox"] {
  display: none;
}

.search {
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  left: calc(100% - 0px);
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.search__container {
  padding: 0;

  display: flex;
}

.search__back {
  transform: rotate(180deg);
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 0 7px;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__search {
  color: var(--color-secondary);
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input__search::placeholder {
  color: var(--color-placeholder);
  font-size: 0.875rem;
  font-weight: bold;
}

.input__closed {
  background-color: var(--color-secondary);
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.input__closed::before {
  content: "x";
  color: var(--color-white);
  display: block;
  font-family: sans-serif;
  font-size: .8rem;
}

.input img {
  cursor: pointer;
}

/* pseudo clase checked para activar y desactivar input buscar*/
#search__checked:checked ~ .search {
  left: 0;
}

.input--config {
  width: 25px;
  height: 40px;
}

.input--color {
  background-color: var(--color-background);
}

.input__search--config {
  display: none;
}

.input__search--config::placeholder {
  color: var(--color-placeholder);
  font-weight: 400;
}

/* media queries */
@media screen and (min-width: 700px) {

  .header__logo {
    margin-right: 15px;
  }
  
  .search {
    display: none;
  }

  /*cambiar orden del button*/
  .button--config {
    order: 1;
    flex-grow: 1;
    text-align: end;
  }

  .input--config {
    background-color: var(--color-background);
    width: 272px;
  } 

  .input__search--config {
    display: block;
    padding-left: 8px;
  }
  .input img {
    cursor: auto;
  }
  
}

@media screen and (min-width: 1100px) {
  .header__logo {
    width: 176px;
    height: 50px;
  }

  .input--config {
    width: 393px;
  }
}

/*==================== main */

/* section banner */
.banner {
  color: var(--color-white);
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 192px;
  background-image: url(./src/assets/images/hero.webp);
  background-position: center;
  background-size: cover;
}

.banner__texts {
  font-family: var(--font-raleway);
  position: absolute;
  bottom: 20px;
  /* height: 98px; */
}

.banner__title {
  font-size: 1.375rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.banner__paragraph {
  margin-bottom: 7px;
  font-size: 0.875rem;
  font-weight: 600;
}

.banner__cta {
  width: 118px;
  line-height: 40px;
}

@media screen and (min-width: 700px) {
  .banner {
    height: 352px;
  }

  .banner__text {
    bottom: 30px;
  }

  .banner__title {
    font-size: 3.25rem;
    margin-bottom: 15px;
  }

  .banner__paragraph {
    margin-bottom: 17px;
    font-size: 1.375rem;
  }

  /* section card */

  .card {
    width: 164px;
  }
}

/* section products */

.products__container {
  font-family: var(--font-raleway);
  min-width: 300px;
  padding-top: 20px;
}

.products {
  width: 100%;
  margin-bottom: 20px;
}

.products__texts {
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.products__title {
  color: var(--color-secondary);
  font-size: 1.375rem;
}

.products__link {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: bold;

  display: flex;
  align-items: center;
}
.products__link:hover {
  color: var(--color-secondary);
}

.products__link i {
  font-size: 1.2rem;
  padding-left: 5px;
}

.products__message {
  color: var(--color-secondary);
  padding-bottom: 20px;
  text-align: center;
}

/* section cards */

.cards {
  width: 100%;
  margin-top: 10px;
}

.cards__container {
  font-family: var(--font-raleway);
  color: var(--color-secondary);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 156px;
}

.card__image {
  width: 100%;
  height: 200px;
}

.card__title {
  margin-top: 5px;
  font-size: 1rem;
}

.card__price,
.card__cta {
  font-size: 1.0625rem;
  font-weight: bold;
}

.card__price {
  margin-top: 6px;
}

.card__cta {
  display: inline-block;
  margin-top: 6px;
  color: var(--color-primary);
}
.card__cta:hover {
  color: var(--color-secondary);
}

/* media queries */



@media screen and (min-width: 1100px) {
  /* section products */
  .products__container {
    padding-top: 40px;
  }

  .products__texts {
    height: 38px;
  }

  .products__title {
    font-size: 2rem;
  }

  .products__link {
    font-size: 1rem;
  }

  /* section card */

  .products {
    margin-bottom: 40px;
  }
}

/*==================== footer */

.footer {
  padding: 30px 0;
  background-color: #eaf2fd;
  min-width: 300px;
}

.footer__container,
.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links {
  align-items: center;
}

.footer__logo {
  width: 176px;
  height: 50px;
}

.footer__uls {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  list-style: none;
}

.footer__uls a {
  font-family: var(--font-raleway);
  color: var(--color-secondary);
  font-weight: 600;
}
.footer__uls a:hover {
  color: black;
}

.footer__list {
  margin-bottom: 10px;
}

/* form */

.form {
  position: relative;
}

.form__title {
  font-family: var(--font-raleway);
  color: var(--color-secondary);
  font-size: 1rem;
}

.form__container {
  margin-top: 20px;
  display: grid;
  gap: 25px;
}

.form__group {
  position: relative;
}

.form__input {
  width: 100%;
  background: var(--color-white);
  color: var(--color-secondary);
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid var(--color-secondary);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  color: var(--color-primary);
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
}

.form__label {
  color: var(--color-placeholder);
  position: absolute;
  top: 0;
  left: 5px;
  cursor: text;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__line {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) + .form__line {
  transform: scale(1);
}

.form--config-footer {
  margin-top: 20px;
  min-width: 300px;
}

.form__input--textarea {
  height: 80px;
  resize: none;
}

.form__input--textarea:focus ~ .form__line,
.form__input--textarea:not(:placeholder-shown) + .form__line {
  transform: scale(0);
}

.button__link--send {
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 118px;
}

@media screen and (min-width: 700px) {
  .footer__container {
    flex-direction: row;
  }

  /* links */
  .footer__links{
    flex-basis: 35%;
    align-items: start;
  }

  .footer__uls {
    text-align: start;
  }

  /* form */
  .form {
    width: 65%;
    margin-top: 0;
  }

  .nav__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .footer__links {
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-between;
  }

  .footer__nav {
    flex-basis: 50%;
  }

  .footer__ul {
    margin-top: 0;
  }

  .footer__list {
    margin-bottom: 28px;
  }
}

/*==================== aside */
.aside {
  background-color: #000000;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aside p {
  font-family: var(--font-raleway);
  color: var(--color-white);
  padding-right: 10px;
  font-size: 1.2rem;
}